.l {
  &-site-container {
    margin: 0 7.337%;
    padding: rem(81px) 0 rem(10px) 0;

    @include breakpoint-up(medium) {
      padding-bottom: rem(20px);
    }
  }

  &-no-display {
    display: none;
  }

  &-block-display {
    display: block;
  }

  // included .email on the below 2 to override .email's "margin"
  &-no-email-error.email {
    margin-bottom: rem(72px);

    @include breakpoint-up(medium) {
      margin-bottom: rem(94px);
    }
  }

  &-email-error.email {
    margin-bottom: rem(40px);

    @include breakpoint-up(medium) {
      margin-bottom: rem(58px);
    }
  }
}

.landing {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-flex: 1;

  -ms-flex: 1 1 0;

  flex: 1 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header {
  &-section {
    width: 100%;
  }

  &-logo {
    margin: auto;
  }

  &-1 {
    margin-top: rem(32px);

    @include breakpoint-up(medium) {
      margin-top: rem(40px);
    }
  }

  &-2 {
    margin-top: rem(15px);

    @include breakpoint-up(medium) {
      margin-top: rem(16px);
    }
  }
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: rem(32px) 6.25% 0 6.25%;

  @include breakpoint-up(medium) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: rem(40px) 0 0 0;
  }

  &-form {
    @include breakpoint-up(medium) {
      margin-right: rem(16px);
    }
  }

  &-input {
    padding: rem(9px) 0 rem(9px) rem(32px);

    @include breakpoint-up(medium) {
      padding: rem(17px) 50% rem(17px) rem(30px);
      width: 29.236%;
    }
  }

  &-error {
    margin: rem(2px) 0 rem(10px) 0;

    @include breakpoint-up(medium) {
      margin: rem(6px) 0 rem(10px) rem(31px);
    }
  }

  &-btn {
    margin-top: rem(10px);
    padding: rem(12px) 0;

    @include breakpoint-up(medium) {
      margin-top: 0;
      padding: rem(18.5px) 0;
    }
  }
}

.social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: rem(14px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: rem(64px);

  &-icons {
    padding: rem(6px) rem(8px) rem(6px) rem(8px);

    &-fb {
      padding: rem(6px) rem(10.75px) rem(6px) rem(10.75px);
    }

    &-inst {
      padding: rem(6px) rem(8.75px) rem(6px) rem(8.75px);
    }

    &:not(:last-child) {
      margin-right: rem(11.71px);
    }
  }
}

.copyright {
  margin-top: rem(27px);

  @include breakpoint-up(medium) {
    margin-top: rem(25px);
  }
}